<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="../../../assets/favicon.ico" type="image/x-icon">

  <title>Pagina Simple - Opción 1</title>

  <!-- Obelisco -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  </link>
  <link rel="stylesheet" href="../../../node_modules/@gcba/obelisco/dist/obelisco.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>

<body>  
  <main>
    <article class="pb-5 mb-4">
      <header class="bg-light pt-3 pb-5 mb-5">
        <div class="container pt-1">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item"><a href="#">Desarrollo económico y producción</a></li>
              <li class="breadcrumb-item"><a href="#">Pymes y emprendedores</a></li>
              <li class="breadcrumb-item"><a href="#">Financiamiento</a></li>
            </ol>
          </nav>

          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="mt-2 pt-1">
                <h1 class="mb-3">Nombre de atajo</h1>
                <p class="lead">Informate acerca de las líneas de crédito disponibles según tu actividad</p>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container pb-3 mb-4">
        <h2 class="mb-4">Actividad comercial</h2>
        <div class="card-deck max-cards-3">
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Emprendedores con aval de SGR</h4>
              <p class="card-text">
                Personas físicas con actividad comercial, monotributistas y responsables inscriptos
              </p>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Línea Ciudad mujeres emprendedoras</h4>
              <p class="card-text">
                Para mujeres emprendedoras con actividad comercial
              </p>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Bienes de Capital y Capital de Trabajo a 36 meses</h4>
              <p class="card-text">
                MiPyMEs con certificado vigente
              </p>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Ciudad pago aguinaldos</h4>
              <p class="card-text">
                Empresas Pymes o Personas Físicas con actividad comercial, en el ámbito de radicación del Banco
              </p>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Distritos, barrios o polos CABA</h4>
              <p class="card-text">
                Diseñado para incentivar la actividad y la radicación de empresas en Distritos, Barrios o Polos de la CABA
              </p>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Línea Ciudad emprendedores</h4>
              <p class="card-text">
                Personas humanas, empresas unipersonales y sociedades de hecho y emprendedores de nuevos proyectos
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="container pb-3 mb-4">
        <h2 class="mb-4">Administración de consorcios</h2>
        <div class="card-deck max-cards-3 card-column">
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Ciudad consorcios</h4>
              <p class="card-text">
                Consorcios de Propietarios de Edificios o Consorcios con valor patrimonial
              </p>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Escuelas privadas</h4>
              <p class="card-text">
                Escuelas privadas y jardines maternales
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="container pb-3 mb-4">
        <h2 class="mb-4">Educación</h2>
        <div class="card-deck max-cards-3 card-column">
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Escuelas privadas</h4>
              <p class="card-text">
                Escuelas privadas y jardines maternales
              </p>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Escuelas privadas</h4>
              <p class="card-text">
                Escuelas privadas y jardines maternales
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <h2 class="mb-4">Industrias creativas y software</h2>
        <div class="card-deck max-cards-1 card-column">
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Línea Innova Ciudad: para sectores estratégicos</h4>
              <p class="card-text">
                Personas físicas con actividad comercial y Personas Jurídicas
              </p>
            </div>
          </a>
        </div>
      </div>  
    </article>
    <section class="bg-light py-5">
      <div class="container my-1 py-2">
        <h2 class="mb-4">Cancelá tus deudas y promové la reactivación productiva</h2>
        <div class="card-deck max-cards-1 card-column">
          <a class="card" href="#">
            <div class="card-body">
              <h4 class="card-title">Plan de Facilidades</h4>
              <p class="card-text">
                Adherite para disponer de un plan de pago de deuda administrativa y judicial
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../shared/header-search-login.js"></script>
  <script src="../../../shared/footer.js"></script>
</body>

</html>