<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">

    <title>Noticias - Galería</title>

    <!-- Obelisco -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet"> </link>
    <link rel="stylesheet" href="../../node_modules/@gcba/obelisco/dist/obelisco.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  </head>

  <body>
    <main>
      <article class="pb-5 mb-4">
        <header class="bg-light pt-3 pb-5 mb-5">
          <div class="container pt-1">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Buenos Aires</a></li>
                <li class="breadcrumb-item"><a href="#">Jefatura de Gabinete</a></li>
              </ol>
            </nav>

            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="mt-2 pt-1">
                  <p><a href="#" class="badge badge-info">Espacio público</a></p>
                  <p class="mb-0"><small>Jueves 17 de junio de 2022</small></p>
                  <h1 class="mb-3">Sumate al programa Embajadores Verdes y promové el reciclado</h1>
                  <p class="lead">El Ministerio de Espacio Público e Higiene Urbana desarrolló el programa de Embajadores Ciudad Verde. Se trata de una propuesta vinculada con el Plan de Reciclaje de la Ciudad, BA Recicla. Si querés promover el reciclado ¡Sumate!</p>
                </div>

                <div class="d-flex flex-row pt-3">
                  Compartir en redes
                  <ul class="list-inline ml-2">
                    <li class="list-inline-item mr-1"><a href="#" target="_blank"><i class='bx bx-sm bxl-facebook-circle'></i></a></li>
                    <li class="list-inline-item mr-1"><a href="#" target="_blank"><i class='bx bx-sm bxl-instagram' ></i></a></li>
                    <li class="list-inline-item mr-1"><a href="#" target="_blank"><i class='bx bx-sm bxl-twitter' ></i></a></li>
                    <li class="list-inline-item mr-1"><a href="#" target="_blank"><i class='bx bx-sm bxl-linkedin-square' ></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </header>

        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8">
              <p class="mb-4"><strong>Contribuyendo a alcanzar el objetivo de que el 80% de los vecinos y las vecinas de la Ciudad separen sus residuos, 
                el </strong> <a href="#" target="_blank" rel="noreferrer"> Ministerio de Espacio Público e Higiene Urbana</a> <strong> desarrolló el programa de Embajadores Ciudad Verde. </strong>
                Este programa brinda a la ciudadanía un espacio para encontrarse y construir una visión compartida del esfuerzo 
                que debe realizarse en conjunto para avanzar hacia una ciudad más sustentable. 
                <strong> Si querés promover el reciclado. </strong> <a href="#" target="_blank" rel="noreferrer"> ¡Sumate!</a>
              </p>

              <section class="embed-responsive embed-responsive-16by9 my-5">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bPiMIeLG2CE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </section>

              <blockquote>
                <p>Forma parte del programa que nos invita a co-construir una Ciudad cada vez más verde, 
                  promoviendo la participación ciudadana y fortaleciendo el compromiso de todos los vecinos y vecinas.
                </p>
                <small>Autor (no obligatorio)</small>
              </blockquote>
              
              <h2 class="mb-4 mt-5">¿Quiénes pueden sumarse a la red?</h2>

              <p class="mb-4">Todas aquellas personas interesadas en temáticas relacionadas a reciclado y economía circular. 
                Si te entusiasma: <a href="#" target="_blank" rel="noreferrer">¡Sumate!</a></p>

              <h3>¿Cuáles son los pasos a seguir para ser parte de la red?</h3>
              <ol>
                <li>Completar el <a href="#" target="_blank" rel="noreferrer">formulario de inscripción.</a></li>
                <li>Recibir el email de bienvenida y agendar tu inducción.</li>
                <li>Asistir a la charla introductoria donde te contaremos en detalle qué podrás encontrar en la red. 
                  La charla es abierta a la comunidad y está dirigida a todas las personas interesadas en ser embajadoras. 
                  Este es el primer requisito para comenzar a ser parte de la red.</li>
              </ol>

              <blockquote class="my-5">
                <p>Nadie es demasiado pequeño para tener un impacto y cambiar el mundo, así que haz todo lo que puedas.</p>
              </blockquote>

              <section class="embed-responsive embed-responsive-16by9 my-4">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bPiMIeLG2CE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </section>

              <section class="embed-responsive embed-responsive-16by9 my-4">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bPiMIeLG2CE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </section>

              <p class="mb-4">
                <strong>Cabe señalar que el programa Embajadores Verdes es una iniciativa vinculada con el Plan de Reciclaje de la Ciudad</strong>, 
                BA Recicla, presentado recientemente. Dicho plan es el punto de partida hacia la circularidad ya que contempla dentro 
                de sus objetivos duplicar la cantidad de residuos reciclables que se recolectan en la Ciudad y 
                lograr que para el 2023 el 80% de los vecinos y vecinas separen la basura en sus casas. 
                Para eso, se prevé optimizar el ordenamiento de la infraestructura de captación colocando un contenedor verde 
                o campana a 150 metros de cada hogar y con el trabajo de los recuperadores urbanos en las zonas de mayor generación 
                de reciclables. Además, el plan incluye nuevos programas y acciones para la promoción de la separación de residuos 
                domiciliarios.
              </p>

              <section class="embed-responsive embed-responsive-16by9 my-4">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bPiMIeLG2CE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </section>

              <p class="mb-4">Por otro lado, la Ciudad cuenta con un Centro de Reciclaje que procesa un altísimo porcentaje de los residuos generados en la ciudad, 
              entre áridos (escombros); plásticos PET, restos de poda, y residuos orgánicos. También cuenta con 16 Centros Verdes a donde llegan
              los materiales que juntan cada día los recuperadores urbanos y tres centros de compostaje de restos. 
              Enterate de cómo hacemos una Ciudad más Verde en: <a href="#" target="_blank" rel="noreferrer">www.ciudadverde.gob.ar</a></p>

              <h2 class="mb-4 mt-5">Fotogalería</h2>
              <div class="mt-4 mb-2 pb-1">
                <div class="gallery-grid-container">
                  <div class="gallery-grid gallery-max-7">
                      <a href="../../assets/galeria/galeria-1.png" class="gallery-grid-item" data-toggle="modal" data-target="#modalGallery">
                        <img src="../../assets/galeria/galeria-1.png" alt="Texto alternativo de la imagen" />                      
                      </a>
                      <a href="../../assets/galeria/galeria-2.png" class="gallery-grid-item" data-toggle="modal" data-target="#modalGallery">
                        <img src="../../assets/galeria/galeria-2.png" alt="Texto alternativo de la imagen" />
                      </a>
                      <a href="../../assets/galeria/galeria-3.png" class="gallery-grid-item" data-toggle="modal" data-target="#modalGallery">
                        <img src="../../assets/galeria/galeria-3.png" alt="Texto alternativo de la imagen" />
                      </a>
                      <a href="../../assets/galeria/galeria-3.png" class="gallery-grid-item" data-toggle="modal" data-target="#modalGallery">
                        <img src="../../assets/galeria/galeria-3.png" alt="Texto alternativo de la imagen" />
                      </a>
                      <a href="../../assets/galeria/galeria-2.png" class="gallery-grid-item" data-toggle="modal" data-target="#modalGallery">
                        <img src="../../assets/galeria/galeria-2.png" alt="Texto alternativo de la imagen" />
                      </a>
                      <a href="../../assets/galeria/galeria-3.png" class="gallery-grid-item" data-toggle="modal" data-target="#modalGallery">
                        <img src="../../assets/galeria/galeria-3.png" alt="Texto alternativo de la imagen" />
                      </a>
                      <a href="../../assets/galeria/galeria-1.png" class="gallery-grid-item" data-toggle="modal" data-target="#modalGallery">
                        <img src="../../assets/galeria/galeria-1.png" alt="Texto alternativo de la imagen" />
                      </a>
                  </div>
                  <div class="modal modal-carousel" data-backdrop="static" tabindex="-1" role="dialog" id="modalGallery">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <a class="modal-carousel-close" data-dismiss="modal">Cerrar ventana</a>
                        <div id="modalGalleryControls" class="carousel" data-ride="carousel" data-interval="false">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="../../assets/galeria/galeria-1.png" class="d-block w-100" alt="Texto alternativo de la imagen" />
                              <div class="carousel-caption">
                                <div class="row mb-4">
                                  <div class="col"><span class="text-xs">Autor de la imagen.</span></div>
                                  <div class="col text-right"><span class="text-xs">Imagen 1/7</span></div>
                                </div>
                                <h5 class="h2">Título de la imagen 1.</h5>
                                <p>
                                  Descripción o epígrafe de la imagen. Máximo de 2 líneas.
                                  <br />
                                  Lorem impsum dolor sit amet, consetetir sadipscing elitr, sed
                                  diam nonumy eirmod
                                </p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="../../assets/galeria/galeria-2.png" class="d-block w-100" alt="Texto alternativo de la imagen" />
                              <div class="carousel-caption">
                                <div class="row mb-4">
                                  <div class="col"><span class="text-xs">Autor de la imagen.</span></div>
                                  <div class="col text-right"><span class="text-xs">Imagen 2/7</span></div>
                                </div>
                                <h5 class="h2">Título de la imagen 2.</h5>
                                <p>
                                  Descripción o epígrafe de la imagen. Máximo de 2 líneas.
                                  <br />
                                  Lorem impsum dolor sit amet, consetetir sadipscing elitr, sed
                                  diam nonumy eirmod
                                </p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="../../assets/galeria/galeria-3.png" class="d-block w-100" alt="Texto alternativo de la imagen" />
                              <div class="carousel-caption">
                                <div class="row mb-4">
                                  <div class="col"><span class="text-xs">Autor de la imagen.</span></div>
                                  <div class="col text-right"><span class="text-xs">Imagen 3/7</span></div>
                                </div>
                                <h5 class="h2">Título de la imagen 3.</h5>
                                <p>
                                  Descripción o epígrafe de la imagen. Máximo de 2 líneas.
                                  <br />
                                  Lorem impsum dolor sit amet, consetetir sadipscing elitr, sed
                                  diam nonumy eirmod
                                </p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="../../assets/galeria/galeria-1.png" class="d-block w-100" alt="Texto alternativo de la imagen" />
                              <div class="carousel-caption">
                                <div class="row mb-4">
                                  <div class="col"><span class="text-xs">Autor de la imagen.</span></div>
                                  <div class="col text-right"><span class="text-xs">Imagen 4/7</span></div>
                                </div>
                                <h5 class="h2">Título de la imagen 1.</h5>
                                <p>
                                  Descripción o epígrafe de la imagen. Máximo de 2 líneas.
                                  <br />
                                  Lorem impsum dolor sit amet, consetetir sadipscing elitr, sed
                                  diam nonumy eirmod
                                </p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="../../assets/galeria/galeria-2.png" class="d-block w-100" alt="Texto alternativo de la imagen" />
                              <div class="carousel-caption">
                                <div class="row mb-4">
                                  <div class="col"><span class="text-xs">Autor de la imagen.</span></div>
                                  <div class="col text-right"><span class="text-xs">Imagen 5/7</span></div>
                                </div>
                                <h5 class="h2">Título de la imagen 2.</h5>
                                <p>
                                  Descripción o epígrafe de la imagen. Máximo de 2 líneas.
                                  <br />
                                  Lorem impsum dolor sit amet, consetetir sadipscing elitr, sed
                                  diam nonumy eirmod
                                </p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="../../assets/galeria/galeria-3.png" class="d-block w-100" alt="Texto alternativo de la imagen" />
                              <div class="carousel-caption">
                                <div class="row mb-4">
                                  <div class="col"><span class="text-xs">Autor de la imagen.</span></div>
                                  <div class="col text-right"><span class="text-xs">Imagen 6/7</span></div>
                                </div>
                                <h5 class="h2">Título de la imagen 3.</h5>
                                <p>
                                  Descripción o epígrafe de la imagen. Máximo de 2 líneas.
                                  <br />
                                  Lorem impsum dolor sit amet, consetetir sadipscing elitr, sed
                                  diam nonumy eirmod
                                </p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <img src="../../assets/galeria/galeria-3.png" class="d-block w-100" alt="Texto alternativo de la imagen" />
                              <div class="carousel-caption">
                                <div class="row mb-4">
                                  <div class="col"><span class="text-xs">Autor de la imagen.</span></div>
                                  <div class="col text-right"><span class="text-xs">Imagen 7/7</span></div>
                                </div>
                                <h5 class="h2">Título de la imagen 3.</h5>
                                <p>
                                  Descripción o epígrafe de la imagen. Máximo de 2 líneas.
                                  <br />
                                  Lorem impsum dolor sit amet, consetetir sadipscing elitr, sed
                                  diam nonumy eirmod
                                </p>
                              </div>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-target="#modalGalleryControls" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-target="#modalGalleryControls" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <aside class="col-12 col-lg-4 mt-5 mt-lg-0">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-12">
                  <section>
                    <h3 class="mb-4">Noticias relacionadas</h3>
                    <div class="card-deck max-cards-1">
                      <a class="card card-horizontal" href="#">
                        <img src="../../assets/noticias/noticias-5.png" class="card-img-left" alt="descripción alternativa" />
                        <div class="card-body">
                          <h4 class="card-title">La Ciudad iluminará monumentos durante el verano</h4>
                          <p class="card-text">
                            Serán los primeros de una serie de iluminaciones que se realizarán durante el año.
                          </p>
                        </div>
                      </a>

                      <a class="card card-horizontal" href="#">
                        <img src="../../assets/noticias/noticias-5.png" class="card-img-left" alt="descripción alternativa" />
                        <div class="card-body">
                          <h4 class="card-title">Más de 32.500 estudiantes asisten a la Escuela de Verano</h4>
                          <p class="card-text">
                            Con un récord de inscriptos, alumnos de todos los niveles participan de una propuesta.
                          </p>
                        </div>
                      </a>
                    </div>
                  </section>
                </div>
              </div>
            </aside>
          </div>
          
          <hr class="mt-5" />

          <section class="container">
            <h2 class="mt-5 mb-4">Noticias</h2>
            <div class="card-deck max-cards-3">
              <a class="card" href="#">
                <img src="../../assets/noticias/noticias-2.png" class="card-img-top" alt="descripción alternativa" />
                <div class="card-body">
                  <div class="mb-2">
                    <span class="badge badge-info">Comuna 7</span>
                    <span class="badge badge-info">Gestión Comunal</span>
                  </div>
                  <h4 class="card-title">Nuevo patio de juegos, cancha y espacios de encuentro en Plaza Padre Rodolfo Ricciardelli</h4>
                  <p class="card-text">
                    Está ubicada en Avenida Perito Moreno y Erezcano, Flores. 
                  </p>
                </div>
                <div class="card-footer">
                  <small>Fecha de publicación: 14/01/2023</small>
                </div>
              </a>
              <a class="card d-none d-md-block" href="#">
                <img src="../../assets/noticias/noticias-3.png" class="card-img-top" alt="descripción alternativa" />
                <div class="card-body">
                  <div class="mb-2">
                    <span class="badge badge-info">Usina del Arte</span>
                  </div>
                  <h4 class="card-title">Cuatro shows infantiles en vivo para disfrutar el fin de semana en la Usina</h4>
                  <p class="card-text">
                    Las mejores propuestas para que el verano de las infancias sea el más entretenido.
                  </p>
                </div>
                <div class="card-footer">
                  <small>Fecha de publicación: 13/01/2023</small>
                </div>
              </a>
              <a class="card d-none d-lg-block" href="#">
                <img src="../../assets/noticias/noticias-4.png" class="card-img-top" alt="descripción alternativa" />
                <div class="card-body">
                  <div class="mb-2">
                    <span class="badge badge-info">Museos</span>
                    <span class="badge badge-info">Museo Sívori</span>
                  </div>
                  <h4 class="card-title">Verano en el Museo Sívori, con propuestas para todas las edades</h4>
                  <p class="card-text">
                    Hasta el 19 de febrero te invitamos a disfrutar de una programación imperdible.
                  </p>
                </div>
                <div class="card-footer">
                  <small>Fecha de publicación: 10/01/2023</small>
                </div>
              </a>
            </div>
          </section>
        </div>
      </article>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../../shared/header-search.js"></script>
    <script src="../../shared/footer.js"></script>
  </body>
</html>
