<o-navbar
  logoRoute="/"
  [routes]="routes"
  [searchbarItems]="searchbarItems"
></o-navbar>

<div class="home-container">
  <div class="home-header">
    <div class="logo-box">
      <img class="logo" src="assets/home.png" alt="Ciudad de buenos aires" />
    </div>
    <div class="content-box">
      <h1>Ngx-Templates</h1>
      <h2 class="text-secondary">
        La plataforma de plantillas para tus proyectos web
      </h2>
      <p class="lead">
        Ngx-Templates es una plataforma que ofrece una variedad de plantillas
        web para facilitar el desarrollo de proyectos y activos digitales en la
        creación de sitios web.
      </p>
      <p class="lead">
        Utilizando la libreria de ngx-obelisco, las plantillas de Ngx-Templates
        proporcionan una base sólida para tu proyecto.
      </p>

      <pre class="code-box">
        <code [highlight]="code" [languages]="['javascript']"></code>
      </pre>

      <br />
      <div class="home-buttons">
        <a class="btn btn-secondary" routerLink="/components">Demo</a>
        <a class="btn btn-primary" routerLink="/get-started">Get Started</a>
      </div>
      <p class="home-version">Actualmente en v1.0.0</p>
    </div>
  </div>
  <div class="home-description">
    <div class="card-deck max-cards-3 card-column">
      <div class="card card-simple">
        <div class="card-body">
          <i class="bx bxs-component card-icon icon-component"></i>
          <h4 class="card-title">
            <a
              href="https://gcba.github.io/Obelisco/?path=/story/componentes-alerta--texto"
              target="_blank"
              >Componentes</a
            >
          </h4>
          <p class="card-text">
            El sistema de diseño proporciona componentes accesibles para la
            ideación y desarrollo de productos digitales.
          </p>
        </div>
      </div>
      <div class="card card-simple">
        <div class="card-body">
          <i class="bx bx-palette card-icon icon-guide"></i>
          <h4 class="card-title">
            <a href="https://gcba.github.io/estandares/" target="_blank"
              >Guía de estilos</a
            >
          </h4>
          <p class="card-text">
            Los estilos reflejan el lenguaje visual de los elementos y
            componentes que conforman nuestros productos. Detalla las
            características comunes que le dan la personalidad a nuestro sistema
            de diseño.
          </p>
        </div>
      </div>
      <div class="card card-simple">
        <div class="card-body">
          <i class="bx bx-book-open card-icon icon-content"></i>
          <h4 class="card-title">
            <a
              href="https://gcba.github.io/estandares/contenido/comunicar-con-claridad/"
              target="_blank"
              >Contenidos</a
            >
          </h4>
          <p class="card-text">
            Son los lineamientos a tener en cuenta a la hora de redactar
            contenidos en los productos digitales del Gobierno de la Ciudad.
          </p>
        </div>
      </div>
    </div>
  </div>
  <footer class="home-footer">
    <p>
      <small>
        Diseñado y construido por el equipo de
        <a
          href="https://github.com/gcba/ngx-obelisco"
          rel="noopener"
          target="_blank"
          >Ngx-obelisco</a
        >
        con la ayuda de nuestros
        <a
          href="https://github.com/gcba/ngx-obelisco/blob/main/CONTRIBUTING.md"
          rel="noopener"
          target="_blank"
          >contribuidores</a
        >.
      </small>
    </p>
    <p>
      <small>Código licenciado bajo las condiciones de la licencia MIT.</small>
    </p>
    <p>
      <small>
        El diseño y el contenido del sitio de documentación están fuertemente
        inspirados en el diseño original de
        <a href="https://getbootstrap.com/" rel="noopener" target="_blank">
          Bootstrap</a
        >.
      </small>
    </p>
    <p>
      <small>
        Iconos hechos por
        <a href="https://boxicons.com/" rel="noopener" target="_blank"
          >Boxicons</a
        >
        y
        <a
          href="https://fonts.google.com/icons?selected=Material+Icons+Round"
          rel="noopener"
          target="_blank"
          >Material Icons Round</a
        >.
      </small>
    </p>
  </footer>
</div>
