<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="../../../assets/favicon.ico" type="image/x-icon">

  <title>Inscripción</title>

  <!-- Obelisco -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  </link>
  <link rel="stylesheet" href="../../../node_modules/@gcba/obelisco/dist/obelisco.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>

<body>
  <main>
    <article class="pb-5 mb-4">
      <header class="bg-light pt-3 pb-5 mb-5">
        <div class="container pt-1">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item"><a href="#">Inscripción</a></li>
            </ol>
          </nav>
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="mt-2 pt-1">
                <div class="stepper p-0">
                  <p class="step-title">Nombre del paso</p>
                  <p class="step-next">Paso siguiente: Nombre del paso 2</p>
                  <div class="steps">
                    <div class="step active"></div>
                    <div class="step"></div>
                    <div class="step"></div>
                    <div class="step"></div>
                    <div class="step"></div>
                  </div>
                  <span class="step-text">Paso 1 de 5</span>
                </div>           
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="container pt-3">
        <small>DATOS DEL ASPIRANTE</small>
        <div class="d-flex justify-content-between align-items-end">
          <h2 class="mb-0">Datos personales</h2>
          <p class="mb-0">Campos obligatorios*</p>
        </div>
        <hr>
        <div class="alert alert-danger fade show" role="alert">
          <p><strong>Este es un destacado de una alerta (opcional).</strong></p>
          <ol>
            <li>
              <span>Un texto simple para un enlace en una lista de alerta</span>
            </li>
            <li>
              <span>Un texto simple para un enlace en una lista de alerta</span>
            </li>
            <li>
              <span>Un texto simple para un enlace en una lista de alerta</span>
            </li>
          </ol>
        </div>
        <form class="mt-4">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="name-input" class="mb-2">Nombre*</label>
                    <input type="text" class="form-control" id="name-input" name="name" />
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="subname-input" class="mb-2">Apellido*</label>
                    <input type="text" class="form-control" id="subname" name="subname" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div class="form-group mb-5">
                    <label for="date-input" class="mb-2">Fecha de nacimiento*</label>
                    <input type="date" class="form-control" id="date-input" name="date" aria-describedby="date-help" />
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group mb-5">
                    <label for="gender" class="mb-2">Género*</label>
                    <select class="custom-select" id="gender">
                      <option selected disabled>Seleccionar…</option>
                      <option>Masculino</option>
                      <option>Femenino</option>
                      <option>Otro</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group mb-5">
                    <label for="country" class="mb-2">Pais*</label>
                    <select class="custom-select" id="country">
                      <option selected disabled>Seleccionar…</option>
                      <option>Argentina</option>
                      <option>Extranjero</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="type-dni" class="mb-2">Tipo de documento*</label>
                    <select class="custom-select" id="type-dni">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="dni-input" class="mb-2">Número de documento*</label>
                    <input type="text" class="form-control" id="dni-input" name="dni" placeholder="Ejemplo: 38129329" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div class="form-group mb-5">
                    <label for="phone" class="mb-2">¿Tiene teléfono celular?*</label>
                    <select class="custom-select" id="phone">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-8">
                    <label for="number-phone-input" class="mb-2">N° de teléfono celular</label>
                    <input type="text" class="form-control" id="number-phone-input" name="number-phone"
                      aria-describedby="date-help" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-5 mb-4">Continuar</button>
        </form>
      </div>    
    </article>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../shared/header-search-login.js"></script>
  <script src="../../../shared/footer.js"></script>
</body>

</html>