<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="../../../assets/favicon.ico" type="image/x-icon">

  <title>Trabajá con nosotros</title>

  <!-- Obelisco -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  </link>
  <link rel="stylesheet" href="../../../node_modules/@gcba/obelisco/dist/obelisco.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>

<body>
  <main>
    <article class="pb-5 mb-4">
      <header class="bg-light pt-3 pb-5 mb-5">
        <div class="container pt-1">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item"><a href="#">Subte</a></li>
            </ol>
          </nav>
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="mt-2 pt-1">
                <h1 class="mb-3">Trabajá con nosotros</h1>
                <p class="lead">Cargá tus datos y te contactaremos si tu perfil se ajusta a alguna de nuestras búsquedas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container pt-3">
        <h2 class="mb-4">Datos personales</h2>
        <form>
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="form-group mb-5">
                <label for="name-input" class="mb-2">Nombre y Apellido*</label>
                <input type="text" class="form-control" id="name-input" name="name" />
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="type-dni" class="mb-2">Tipo de documento*</label>
                    <select class="custom-select" id="type-dni">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="dni-input" class="mb-2">Número de documento*</label>
                    <input type="text" class="form-control" id="dni-input" name="dni" placeholder="Ejemplo: 38129329" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="gender" class="mb-2">Género*</label>
                    <select class="custom-select" id="gender">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="date-input" class="mb-2">Fecha de nacimiento*</label>
                    <input type="date" class="form-control" id="date-input" name="date" aria-describedby="date-help" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="city" class="mb-2">Ciudad*</label>
                    <select class="custom-select" id="city">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group mb-5">
                    <label for="code-postal-input" class="mb-2">Código postal*</label>
                    <input type="text" class="form-control" id="code-postal-input" name="code-postal"
                      aria-describedby="date-help" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8 mt-3">
              <h2 class="mb-4">Datos de contacto</h2>
              <div class="row">
                <div class="col-12 col-lg-6 my-3">
                  <div class="form-group mb-5">
                    <label for="phone-input" class="mb-2">Número de teléfono*</label>
                    <input type="text" class="form-control" id="phone-input" name="phone" />
                  </div>
                </div>
                <div class="col-12 col-lg-6 my-3">
                  <div class="form-group mb-5">
                    <label for="email-input" class="mb-2">Correo electrónico*</label>
                    <input type="email" class="form-control" id="email-input" name="email" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <h2 class="mb-4">Nivel de estudios</h2>
              <div class="row">
                <div class="col-12 col-lg-6 mt-3">
                  <div class="form-group mb-5">
                    <label for="level" class="mb-2">Nivel alcanzado*</label>
                    <select class="custom-select" id="level">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                  <div class="form-group mb-5">
                    <label for="status" class="mb-2">Estado en que se encuentra*</label>
                    <select class="custom-select" id="status">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="form-group mb-5">
                    <label for="study-area" class="mb-2">Área de estudio*</label>
                    <select class="custom-select" id="study-area">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <h2 class="mb-4">Idiomas</h2>
              <div class="row">
                <div class="col-12 col-lg-5 my-3">
                  <div class="form-group mb-4">
                    <label for="language" class="mb-2">Idioma*</label>
                    <select class="custom-select" id="language">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-5 my-3">
                  <div class="form-group mb-4">
                    <label for="language-level" class="mb-2">Nivel alcanzado*</label>
                    <select class="custom-select" id="language-level">
                      <option selected disabled>Seleccionar…</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-2 mb-5 mt-auto">
                  <button type="button" class="btn btn-sm btn-primary">Guardar</button>
                </div>
                <div class="col mb-3">
                  <hr />
                  <div class="d-flex align-items-center justify-content-between">
                    <span>Alemán - Avanzado</span>
                    <button type="button" class="btn btn-sm btn-danger">Eliminar idioma</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8 my-5">
              <h2 class="mb-4">Experiencia laboral</h2>
              <div class="row">
                <div class="col-12 mt-3">
                  <div class="form-group mb-4">
                    <label for="name-first-company" class="mb-2">Nombre de la primer empresa*</label>
                    <input type="text" class="form-control" id="name-first-company" name="name-first-company" />
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                  <div class="form-group mb-4">
                    <label for="date-start-job" class="mb-2">Fecha de comienzo*</label>
                    <input type="date" class="form-control" id="date-start-job" name="date-start-job"
                      aria-describedby="date-help" />
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                  <div class="form-group mb-4">
                    <label for="date-end-job" class="mb-2">Fecha de finalización*</label>
                    <input type="date" class="form-control" id="date-end-job" name="date-end-job"
                      aria-describedby="date-help" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="fisrt-job" name="skills" value="copywrite" />
                    <label class="custom-control-label" for="fisrt-job">
                      Es mi trabajo actual
                    </label>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <div class="form-group mb-5">
                    <label for="text-area" class="mb-2">Descripción de tareas*</label>
                    <textarea class="form-control" id="text-area" rows="5"
                      placeholder="Sumá información que creas que pueda sumar valor a los datos cargados"></textarea>
                  </div>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-sm btn-danger mb-4">Eliminar empresa</button>
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-3">
                  <div class="form-group mb-4">
                    <label for="name-first-company" class="mb-2">Nombre de la segunda empresa*</label>
                    <input type="text" class="form-control" id="name-first-company" name="name-first-company" />
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                  <div class="form-group mb-4">
                    <label for="date-start-job" class="mb-2">Fecha de comienzo*</label>
                    <input type="date" class="form-control" id="date-start-job" name="date-start-job"
                      aria-describedby="date-help" />
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                  <div class="form-group mb-4">
                    <label for="date-end-job" class="mb-2">Fecha de finalización*</label>
                    <input type="date" class="form-control" id="date-end-job" name="date-end-job"
                      aria-describedby="date-help" />
                  </div>
                </div>
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="fisrt-job" name="skills" value="copywrite" />
                    <label class="custom-control-label" for="fisrt-job">
                      Es mi trabajo actual
                    </label>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <div class="form-group mb-5">
                    <label for="text-area" class="mb-2">Descripción de tareas*</label>
                    <textarea class="form-control" id="text-area" rows="5"
                      placeholder="Sumá información que creas que pueda sumar valor a los datos cargados"></textarea>
                  </div>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-sm btn-danger">Eliminar empresa</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <h2 class="mb-4">Curriculum Vitae (CV)</h2>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-5">
                    <label for="file" class="mb-2">Adjuntá tu CV</label>
                    <input type="file" class="form-control-file" id="file" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-5 mb-4">Enviar</button>
        </form>
      </div>
    </article>

  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../shared/header-search-login.js"></script>
  <script src="../../../shared/footer.js"></script>
</body>

</html>