<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="../../../assets/favicon.ico" type="image/x-icon">

  <title>Cultura</title>

  <!-- Obelisco -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  </link>
  <link rel="stylesheet" href="../../../node_modules/@gcba/obelisco/dist/obelisco.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>

<body>  
  <main>
    <article class="pb-5 mb-4">
      <header class="bg-light pt-3 pb-5 mb-5">
        <div class="container pt-1">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Buenos Aires</a></li>
            </ol>
          </nav>
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="pt-1">
                <h1>Cultura</h1>
                <p class="lead">Conocé y participá de los programas, espacios y actividades que impulsan y desarrollan la cultura que la Ciudad tiene para vos.
                </p>
              </div>
              <div class="d-block d-md-flex flex-wrap pt-3">
                <div class="dropdown mb-2 mb-md-3 mr-3">
                  <button type="button" class="btn btn-dropdown btn-dropdown-border btn-dropdown-lg dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="btn-dropdown-text">Institucional</span>
                    <span class="material-icons-round btn-dropdown-icon">expand_more</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><span class="item-text">Ministerio de Cultura</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Subsecretaría Gestión Cultural</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Subsecretaría de Políticas Culturales y Nuevas Audiencias</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Ente Autárquico Teatro Colón</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Organigrama</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Guia de Funcionarios</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Contacto</span></a>
                  </div>
                </div>
                <div class="dropdown mb-2 mb-md-3 mr-3">
                  <button type="button" class="btn btn-dropdown btn-dropdown-border btn-dropdown-lg dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="btn-dropdown-text">Transparencia activa</span>
                    <span class="material-icons-round btn-dropdown-icon">expand_more</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><span class="item-text">Escalas salariales</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Sueldos de funcionarios</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Concurso de personal</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Presupuesto abierto</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Compras y contrataciones de bienes y servicios</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Informes de auditoría</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Trámites y servicios</span></a>
                    <a class="dropdown-item" href="#"><span class="item-text">Declaraciones juradas</span></a>
                  </div>
                </div>
                <nav class="mb-0 mb-md-3">
                  <ul class="nav flex-row nav-pills">
                    <li class="nav-item">
                      <a class="nav-link border-link nav-link-lg" href="#"><span>Protocolo de apertura</span></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container">
        <div class="card-deck max-cards-3 card-column mb-5">
          <div class="card card-simple">
            <div class="card-body">
              <span class="material-icons-round card-icon">palette</span>
              <h4 class="card-title"><a href="#">Talleres</a></h4>
              <p class="card-text">
                Participá de talleres en todos los barrios.
              </p>
            </div>
          </div>
          <div class="card card-simple">
            <div class="card-body">
              <span class="material-icons-round card-icon">groups</span>
              <h4 class="card-title"><a href="#">Impulso Cultural</a></h4>
              <p class="card-text">
                Solicitá subsidios y apoyo para tus proyectos.
              </p>
            </div>
          </div>
          <div class="card card-simple">
            <div class="card-body">
              <span class="material-icons-round card-icon">confirmation_number</span>
              <h4 class="card-title"><a href="#">Pase Cultural</a></h4>
              <p class="card-text">
                Información sobre medidas, testeos y vacunación
              </p>
            </div>
          </div>
          <div class="card card-simple">
            <div class="card-body">
              <span class="material-icons-round card-icon">theater_comedy</span>
              <h4 class="card-title"><a href="#">Cultura independiente</a></h4>
              <p class="card-text">
                Conocé los espacios culturales independientes.
              </p>
            </div>
          </div>
          <div class="card card-simple">
            <div class="card-body">
              <i class="bx bx-book card-icon"></i>
              <h4 class="card-title"><a href="#">Biblioteca</a></h4>
              <p class="card-text">
                Ingresá a la red de Bibliotecas de la Ciudad
              </p>
            </div>
          </div>
          <div class="card card-simple">
            <div class="card-body">
              <span class="material-icons-round card-icon">map</span>
              <h4 class="card-title"><a href="#">Barrios Creativos</a></h4>
              <p class="card-text">
                Participá de la programación en tu barrio.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="mb-5 py-3">
          <div class="card card-simple panel-horizontal my-3">
            <img src="../../../assets/panel/cultura-panel.png" class="card-img" alt="Vivamos Cultura" />
            <div class="card-body">
              <h2 class="card-title">Vivamos Cultura</h2>
              <p class="card-text">
                Es la nueva plataforma que busca dar a conocer el trabajo de los artistas tanto de la cultura independiente como de los diferentes espacios del Ministerio de Cultura de la Ciudad. Vas a poder disfrutar las diferentes propuestas culturales de manera online: obras de teatro, películas, recitales, talleres y mucho más, para todas las edades.
              </p>
              <div class="panel-footer">
                <a type="button" class="btn btn-lg btn-primary card-link" href="#">
                  Ingresar ahora
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="pb-3 mb-3">
          <h2 class="mb-4">Guía cultural</h2>
          <div class="card-deck max-cards-3 mb-5">
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-1.png" class="card-img-top" alt="Disfrutemos BA" />
              <div class="card-body">
                <h4 class="card-title">Disfrutemos BA</h4>
                <p class="card-text">
                  Descubrí la agenda cultural y todo lo que podés hacer en la Ciudad.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-2.png" class="card-img-top" alt="Promoción del libro, las Bibliotecas y la Cultura" />
              <div class="card-body">
                <h4 class="card-title">Promoción del libro, las Bibliotecas y la Cultura</h4>
                <p class="card-text">
                  Conocé la programación cultural en distintos puntos de la Ciudad.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-3.png" class="card-img-top" alt="Data Cultura" />
              <div class="card-body">
                <h4 class="card-title">Data Cultura</h4>
                <p class="card-text">
                  Accedé a gráficos, mapas y estadísticas sobre la cultura en la Ciudad.
                </p>
              </div>
            </a>

            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-4.png" class="card-img-top" alt="Patrimonio" />
              <div class="card-body">
                <h4 class="card-title">Patrimonio</h4>
                <p class="card-text">
                  Conocé las actividades y servicios del patrimonio cultural de la Ciudad.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-5.png" class="card-img-top" alt="Festivales" />
              <div class="card-body">
                <h4 class="card-title">Festivales</h4>
                <p class="card-text">
                  Participá en Ciudad Emergente, Tango BA, Bafici y más.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-6.png" class="card-img-top" alt="BA Audiovisual" />
              <div class="card-body">
                <h4 class="card-title">BA Audiovisual</h4>
                <p class="card-text">
                  Conocé el plan que apoya al sector audiovisual de la Ciudad.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="pb-3 mb-3">
          <h2 class="mb-4">Espacios Culturales</h2>
          <div class="card-deck card-column max-cards-3 mb-5">
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-7.png" class="card-img-top" alt="Museos" />
              <div class="card-body">
                <h4 class="card-title">Museos</h4>
                <p class="card-text">
                  Conocé los once museos que la Ciudad tiene para vos.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-8.png" class="card-img-top" alt="Centro Cultural Recoleta" />
              <div class="card-body">
                <h4 class="card-title">Centro Cultural Recoleta</h4>
                <p class="card-text">
                  Conocé los espacios para exhibiciones, obras, conciertos, conferencias y más.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-9.png" class="card-img-top" alt="El Cultural San Martín" />
              <div class="card-body">
                <h4 class="card-title">El Cultural San Martín</h4>
                <p class="card-text">
                  Conocé toda la programación y participa de cursos y talleres.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-10.png" class="card-img-top" alt="Usina del Arte" />
              <div class="card-body">
                <h4 class="card-title">Usina del Arte</h4>
                <p class="card-text">
                  Visitá el centro cultural multidisciplinario, declarado Patrimonio histórico dela Ciudad.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-11.png" class="card-img-top" alt="Teatro Colón" />
              <div class="card-body">
                <h4 class="card-title">Teatro Colón</h4>
                <p class="card-text">
                  Visitá uno de los teatros más importante del mundo.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-12.png" class="card-img-top" alt="Estudio Urbano" />
              <div class="card-body">
                <h4 class="card-title">Estudio Urbano</h4>
                <p class="card-text">
                  Capacitate en oficios vinculados con la música y herramientas de gestión para proyectos artísticos.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-13.png" class="card-img-top" alt="Completo Teatral" />
              <div class="card-body">
                <h4 class="card-title">Complejo Teatral</h4>
                <p class="card-text">
                  Nuclea los cinco teatros públicos de la Ciudad.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-14.png" class="card-img-top" alt="Centro Cultural 25 de mayo" />
              <div class="card-body">
                <h4 class="card-title">Centro Cultural 25 de mayo</h4>
                <p class="card-text">
                  Punto de encuentro y desarrollo cultural y creativo para los vecinos.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-15.png" class="card-img-top" alt="Música" />
              <div class="card-body">
                <h4 class="card-title">Música</h4>
                <p class="card-text">
                  Disfrutá de la Banda Sinfónica, la Orquesta de Tango y los talleres de Estudio Urbano.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-16.png" class="card-img-top" alt="Casco histórico" />
              <div class="card-body">
                <h4 class="card-title">Casco histórico</h4>
                <p class="card-text">
                  Inscribite en jornadas, visistas guiadas y participá de la formación en artes y oficios de la escuela taller.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-17.png" class="card-img-top" alt="Enseñanza Artística" />
              <div class="card-body">
                <h4 class="card-title">Enseñanza Artística</h4>
                <p class="card-text">
                  Conocé la oferta de carreras, cursos y talleres de los espacios de enseñanza artística que la Ciudad tiene para vos.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-18.png" class="card-img-top" alt="Espacio Casa de la Cultura" />
              <div class="card-body">
                <h4 class="card-title">Espacio Casa de la Cultura</h4>
                <p class="card-text">
                  Antigua sede del diario La Prensa, declarado Monumento Histórico Nacional.
                </p>
              </div>
            </a>
            <a class="card" href="#">
              <img src="../../../assets/tarjetas/cultura/cultura-19.png" class="card-img-top" alt="Artes visuales" />
              <div class="card-body">
                <h4 class="card-title">Artes visuales</h4>
                <p class="card-text">
                  Conocé la oferta cultural de las artes visuales de la Ciudad.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="mb-4">Noticias</h2>
        <div class="card-deck max-cards-3 mb-4 pb-2">
          <a class="card" href="#">
            <img src="../../../assets/noticias/cultura/noticias-cultura-1.png" class="card-img-top" alt="Todas las propuestas para disfrutar el fin de semana"/>
            <div class="card-body">
              <div class="mb-2">
                <span class="badge badge-info">Cultura</span>
              </div>
              <h4 class="card-title">Todas las propuestas para disfrutar el fin de semana en la ...</h4>
              <p class="card-text">
                Se destacan el Finde del Turismo, el Día Internacional de los Museos, las finales del ...
              </p>
            </div>
            <div class="card-footer">
              <small>18/05/23</small>
            </div>
          </a>
          <a class="card d-none d-sm-block" href="#">
            <img src="../../../assets/noticias/cultura/noticias-cultura-2.png" class="card-img-top" alt="Actividades para disfrutar los últimos días de la Feria del Libro" />
            <div class="card-body">
              <div class="mb-2">
                <span class="badge badge-danger">Cultura</span>
                <span class="badge badge-danger">Etiqueta</span>
              </div>
              <h4 class="card-title">Actividades para disfrutar los últimos días de la Feria del Libro</h4>
              <p class="card-text">
                Hay charlas, talleres, intervenciones artísticas, ciclos de cine y concursos literarios. Más de ...
              </p>
            </div>
            <div class="card-footer">
              <small>12/05/23</small>
            </div>
          </a>
          <a class="card d-none d-lg-block" href="#">
            <img src="../../../assets/noticias/cultura/noticias-cultura-3.png" class="card-img-top" alt="Últimos días para disfrutar del BAFICI" />
            <div class="card-body">
              <div class="mb-2">
                <span class="badge badge-danger">Cultura</span>
                <span class="badge badge-danger">Etiqueta</span>
              </div>
              <h4 class="card-title">Últimos días para disfrutar del BAFICI</h4>
              <p class="card-text">
                Es uno de los más importantes de América Latina, tendrá 450 funciones en 15 sedes ...
              </p>
            </div>
            <div class="card-footer">
              <small>05/05/23</small>
            </div>
          </a>
        </div>
        <div>
          <a class="access" href="#" target="_blank" rel="noreferrer">
            Ver todas las noticias
          </a>
        </div>
      </div>
    </article>

    <section class="bg-light py-5">
      <div class="container mb-3">
        <h2 class="mb-4">Información institucional</h2>
        <div class="card-deck max-cards-2 mb-5">
          <div class="card card-simple panel-sm-horizontal">
            <img
              src="../../../assets/panel/enriqueAvogadro.png"
              alt="Enrique Avogadro"
              class="rounded-lg"
              width="104"
              height="104"
            />
            <div class="card-body">
              <h3 class="card-title">Enrique Avogadro</h3>
              <p class="card-text">Ministro de Cultura</p>
            </div>
          </div>
          <div class="card card-simple panel-sm-horizontal">
            <div class="card-body">
              <h3 class="card-title">Contacto</h3>
              <p class="card-text">Teléfono: 4323-9682 <br> 
                Email: <a class="d-inline-block" href="mailto:evogadro@buenosaires.gob.ar" target="_blank" rel="noreferrer">evogadro@buenosaires.gob.ar</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <h2 class="mb-4">Seguinos en</h2>
            <div class="list-group mb-4 mb-md-0">
              <a href="#" class="list-group-item">
                <i class="bx bxl-facebook-circle"></i>
                <div class="access-content">
                  <span class="access-title">Facebook</span>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <i class="bx bxl-instagram-alt"></i>
                <div class="access-content">
                  <span class="access-title">Instagram</span>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <i class="bx bxl-twitter"></i>
                <div class="access-content">
                  <span class="access-title">Twitter</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <h4 class="mb-1">Ubicación</h4>
                <p class="mb-3">Dirección: Av. de Mayo 575</p>
                <div class="w-100 mb-3">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.838272722172!2d-58.3770198243719!3d-34.608250872952574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad3a824ceeb%3A0x17b5852c3ae7353c!2sAv.%20de%20Mayo%20575%2C%20C1059%20CABA!5e0!3m2!1ses!2sar!4v1686852040537!5m2!1ses!2sar" width="100%" height="146" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-lg"></iframe>
                </div>
                <a href="https://mapa.buenosaires.gob.ar/comollego/?lat=-34.608485&lng=-58.374404&zl=15&modo=transporte&dir=De+Mayo+Av.+575" class="btn btn-primary btn-lg">Cómo llego</a>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../shared/header-search.js"></script>
  <script src="../../../shared/footer.js"></script>
</body>

</html>